body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 15px;
}

#cy {
    position: absolute;
    left: 320px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 800;
    border-left: 1px solid green;
}

h1 {
    opacity: 1;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

#coseButton{
    position: relative;
    left: 38px;
}

#cosepButton{
    position: relative;
    left: 112px;
}

table{
    padding-top: 5px;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
}

/* The sidepanel links */
table td {
    padding: 0px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #555;
    transition: 0.3s;
}

#optionsCard{
    padding-top: 5px;
    height: 150px;
    width: 245px;
    position: absolute; /* Stay in place */
    z-index: 1000; /* Stay on top */
    float: left;
    top: 75px;
    left: 37px;
    font-size: 15px;
    background-color: #dadfef;
}

#indicatorCard{
    padding-top: 5px;
    height: auto;
    width: 200px;
    position: absolute; /* Stay in place */
    z-index: 1000; /* Stay on top */
    float: left;
    top: 10px;
    left: 330px;
    font-size: 15px;
    background-color: rgba(255, 247, 12, 0.79);
    display: none;
}

#addConsCard{
    padding-top: 5px;
    height: auto;
    width: 245px;
    position: absolute; /* Stay in place */
    z-index: 1000; /* Stay on top */
    float: left;
    top: 250px;
    left: 37px;
    font-size: 15px;
    background-color: rgba(205, 236, 202, 0.76);
    display: none;
}

#logsCard {
    height: 450px;
    width: 320px;
    position: absolute; /* Stay in place */
    z-index: 1000; /* Stay on top */
    float: left;
    top: 500px;
    left: 0px;
    font-size: 15px;
    padding-bottom: 0;
}

#logsTable{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
}

#logsTable td{
    padding: 2px 2px 2px 2px;
    text-align: center;
}

.nav-pills {
    display: flex;
    justify-content: center;
}

#exportToFile{
    position: absolute;
    left: 180px;
    top: 960px;
}

#importFromFile{
    position: absolute;
    left: 30px;
    top: 960px;
}