body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 15px;
}

#cy {
    position: absolute;
    left: 340px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 200;
}

.leftOfCytoscape{
    width: 340px;
    height: 100%;
    z-index: 100;
}

#coseButton{
    position: relative;
    top: 10px;
    left: 10px;
}

#cosepButton{
    position: relative;
    top: 10px;
    left: 70px;
}

table{
    padding-top: 5px;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
}

/* The sidepanel links */
table td {
    padding: 0px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #555;
    transition: 0.3s;
}

#optionsCard{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: inherit;
    height: auto;
    font-size: 15px;
    background-color: #dadfef;
}

#indicatorCard{
    padding-top: 5px;
    height: 90px;
    width: 200px;
    position: absolute; /* Stay in place */
    float: left;
    top: 10px;
    left: 350px;
    font-size: 15px;
    background-color: rgba(255, 247, 12, 0.79);
    display: none;
}

#addConsCard{
    position: absolute; /* Stay in place */
    top: 110px;
    left: 350px;
    padding-top: 5px;
    width: 200px;
    height: auto;
    font-size: 12px;
    background-color: rgba(205, 236, 202, 0.76);
    opacity: 1;
    z-index: 999;
}

#logsCard {
    margin-top: 30px;
    padding-top: 5px;
    width: inherit;
    height: 385px;
    font-size: 15px;
    padding-bottom: 0;
}

#logsTable{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
}

#logsTable td{
    padding: 2px 2px 2px 2px;
    text-align: center;
}

#nodeRotationTable{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
}

#nodeRotationTable td{
    padding: 2px 2px 2px 2px;
    text-align: center;
}

.nav-pills {
    display: flex;
    justify-content: center;
}

#exportToFile{
    margin-top: 4px;
    font-size: 0.8em;
    width: 167px;
}

#importFromFile{
    margin-top: 4px;
    font-size: 0.8em;
    width: 167px;
}

